<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="CraigslistSuite">
    <test name="ComprehensiveTests">
        <classes>
            <class name="fgcuvladtyler.Signup">
                <methods>
                    <include name="testSignUpPage"/>
                    <include name="testSignUpFunctionality"/>
                    <include name="testLoginInFunctionality"/>
                    <include name="testForgotPasswordFunctionality"/>
                </methods>
            </class>
            <!-- <class name="fgcuvladtyler.Accessibility">
                <methods>
                    <include name="yourTestMethod1"/>
                    <include name="yourTestMethod2"/>
                </methods>
            </class> -->
        </classes>
    </test>
</suite>
