<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="CraigslistSuite">
    <test name="ComprehensiveTests">
        <classes>
            <class name="fgcuvladtyler.Signup">
                <methods>
                    <include name="testSignUpPage"/>
                    <include name="testSignUpFunctionality"/>
                    <include name="testLoginInFunctionality"/>
                    <include name="testForgotPasswordFunctionality"/>
                </methods>
            </class>
            <class name="fgcuvladtyler.ListingsAndSearch">
                <methods>
                    <include name="testSearchBar"/>
                    <include name="testCategoryFilter"/>
                    <include name="testLocationFilter"/>
                    <include name="testListingDetails"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
